**/Makefile
**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeFiles/
GoogleTest/gtest/
*.so
.cproject
.project
.settings/
CanModuleTest/CanModuleTest
*.log
GoogleTest/.vs/
GoogleTest/*.vcxproj
GoogleTest/*.sln
GoogleTest/*.filters
GoogleTest/*.user
GoogleTest/x64/
GoogleTest/Win32/
LogIt/
GoogleTest/googletest/
*.vcxproj
*.vs
*.sln
*.filters
*.dir
Release
x64
Debug/
gmock*.pc
gtest*.pc
**/googletest
build/
